main{
    position: fixed;
    text-align: center;
    width: 100%;
    top: 28%;
}
h1{
    color:#f5e2ff;
    font-weight: bold;
    font-size: large;
    letter-spacing: 3px;
}
.cajaLextura{
    width: 50%; height: 30px;
    border-radius: 15px;
    border: solid #fad8f3 2px;
    font-weight:bold;
    color: #3C096C;
    box-shadow: 0PX 3PX #707887;
    text-align: center;
}
.cajaLextura:focus-visible{
    border: solid violet;
}
.est{
    position: fixed;
    margin:0px 10%;
    padding: 7px;
    bottom: 0px;left: 0px;
    background-color: #3C096C;
    width: 80%;
    height: 12%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.est label{
    color:#f5e2ff;
    font-weight: bold;
}
#botonAnalizar{
    font-weight: bold;
    color:#3C096C;
    font-size: 18px;
    padding: 5px 15px;
    border-radius:15px;
    border: solid #7B2CBF 2px;
    box-shadow: 0px 3px #707887;
}
#botonAnalizar:hover{
    color: #ebc7ff;
    background-color: #240046;
}
#botonAnalizar:active{
    background-color: #1e0039;
    box-shadow: 0px 0px black;
}