main{
    position: fixed;
    text-align: center;
    width: 100%;
    top: 28%;
}
h1{
    color:#8E9AAF;
    font-weight: bold;
    font-size: large;
    letter-spacing: 3px;
}
.cajaLextura{
    width: 50%; height: 30px;
    border-radius: 15px;
    border: solid #fad8f3 2px;
}
.botonAnalizar{
    font-weight: bold;
    color:#8E9AAF;
    font-size: 18px;
    padding: 5px 15px;
    border-radius:15px;
    border: solid #fad8f3 2px;
}
.botonAnalizar:hover{
    color: white;
    background-color: #bfc5d0;
}